@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --light-blue: #207bfa;
  --yellow-orange: #ffa037;
  --background: #f1f1f1;
  --background-shade: #ffffff;
  --some-text: var(--light-blue);
  --text: #000000;
}

/* button */
.button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: all 0.2s;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}

.button:hover {
  transform: scale(0.9);
}

.button-primary {
  color: var(--text);
  background-color: var(--light-blue);
}

.button-shade {
  color: var(--some-text);
  background-color: var(--background-shade);
}

/* cards */
.card {
  background-color: var(--background-shade);
  color: var(--text);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* general */

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

.container {
  margin-top: 15px;
  margin-left: 75px;
  margin-right: 75px;
}

main {
  margin-top: 30px;
}

.header-button-area {
  display: flex;
}

#buttonMode {
  margin-left: 5px;
}

#buttonTemp {
  font-weight: 600;
}

.text-shade {
  opacity: 60%;
}

.some-text {
  color: var(--some-text);
}

.one-rem {
  font-size: 1rem;
}

.one-five-rem {
  font-size: 1.5rem;
}

.two-rem {
  font-size: 2rem;
}

.three-rem {
  font-size: 3rem;
}

.four-rem {
  font-size: 4rem;
}

.five-rem {
  font-size: 5rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}

.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--some-text);
}

.logo-text {
  letter-spacing: 3px;
}

.logo-icon {
  font-size: 3rem;
  margin-left: 5px;
}

.search-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 500px;
  height: 50px;
  padding-right: 45px;
  padding-left: 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: var(--background-shade);
  color: var(--text);
}

.search-button {
  cursor: pointer;
  right: 10px;
  position: absolute;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--text);
  font-weight: 1000;
  box-shadow: none;
  background-color: var(--background-shade);
  color: var(--some-text);
}

#button-mode {
  margin: 50px;
}

/* main */
.current {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 50px;
}

.current-card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  grid-area: 1 / 1 / 2 / 6;
}
.current-card-2 {
  grid-area: 2 / 1 / 4 / 3;
  display: flex;
  flex-direction: column;
}
.current-card-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 3 / 4 / 4;
}
.current-card-4 {
  grid-area: 2 / 4 / 4 / 5;
}
.current-card-5 {
  grid-area: 2 / 5 / 4 / 6;
}

/* animations */
